<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lethalmaus.twitchfollowerservice">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserService" android:parentActivityName=".MainActivity"></activity>
        <activity android:label="Authorization" android:name=".Authorization" android:parentActivityName=".UserService"></activity>
        <activity android:label="User Info" android:name=".User" android:parentActivityName=".UserService"></activity>
        <activity android:name=".FollowService" android:parentActivityName=".MainActivity"></activity>
        <activity android:label="Follow4Follow" android:name=".Follow4Follow" android:parentActivityName=".FollowService"></activity>
        <activity android:label="Followers" android:name=".Followers" android:parentActivityName=".FollowService"></activity>
        <activity android:label="Following" android:name=".Following" android:parentActivityName=".FollowService"></activity>
        <activity android:label="Info" android:name=".Info"></activity>
        <activity android:label="Settings" android:name=".Settings"></activity>
    </application>

</manifest>