<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lethalmaus.streaming_yorkie">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="false"
        android:icon="@mipmap/streaming_yorkie"
        android:logo="@mipmap/streaming_yorkie_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/streaming_yorkie_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.lethalmaus.streaming_yorkie.activity.MainActivity" android:icon="@mipmap/streaming_yorkie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Authorization" android:name="com.lethalmaus.streaming_yorkie.activity.Authorization" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.MainActivity" android:configChanges="orientation|screenSize"/>
        <activity android:label="Follow Parent" android:name="com.lethalmaus.streaming_yorkie.activity.FollowParent" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.MainActivity"/>
        <activity android:label="Follow4Follow" android:name="com.lethalmaus.streaming_yorkie.activity.Follow4Follow" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.FollowParent" android:configChanges="orientation|screenSize"/>
        <activity android:label="Followers" android:name="com.lethalmaus.streaming_yorkie.activity.Followers" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.FollowParent" android:configChanges="orientation|screenSize"/>
        <activity android:label="Following" android:name="com.lethalmaus.streaming_yorkie.activity.Following" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.FollowParent" android:configChanges="orientation|screenSize"/>
        <activity android:label="VODs" android:name="com.lethalmaus.streaming_yorkie.activity.VODs" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.MainActivity" android:configChanges="orientation|screenSize"/>
        <activity android:label="User Info" android:name="com.lethalmaus.streaming_yorkie.activity.User" android:parentActivityName="com.lethalmaus.streaming_yorkie.activity.MainActivity" android:configChanges="orientation|screenSize"/>
        <activity android:label="Info" android:name="com.lethalmaus.streaming_yorkie.activity.Info"/>
        <activity android:label="Settings" android:name="com.lethalmaus.streaming_yorkie.activity.SettingsMenu" />
        <activity android:label="Settings" android:name="com.lethalmaus.streaming_yorkie.activity.SettingsF4F" android:configChanges="orientation|screenSize"/>
        <activity android:label="Settings" android:name="com.lethalmaus.streaming_yorkie.activity.SettingsVOD" android:configChanges="orientation|screenSize"/>
        <activity android:label="Logs" android:name="com.lethalmaus.streaming_yorkie.activity.Logs" android:configChanges="orientation|screenSize"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="fontProviderRequests"
            android:value="Noto Color Emoji Compat" />
        <!--
        <service android:name=".AutoFollowObserver" android:enabled="true" android:exported="false" ></service>
        -->
    </application>

</manifest>